// Body
$body-bg: #f8fafc;

// Typography
<<<<<<< HEAD
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
=======

$font-size-base: 0.9rem;
$line-height-base: 1.6;
$break-desk: screen and (min-width: 767px);
$primaryColor: #544087;
$white-text:#f1f1f1;
$white: #fff;
$black: #212121;
$font_family_1: 'Nova Mono', monospace, Arial, Helvetica sans-serif;
$font_family_2: 'Roboto', Arial, Helvetica sans-serif;
$gap: 20px;
>>>>>>> 077bea4be17c76e3cd0328a958c0e25f78656d16
